.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  flex: 1;
}

.form-container {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 1rem;
}


/* Pour un meilleur style, vous pouvez ajouter des styles spécifiques à votre formulaire et à votre image */
