@import "../../index";

.tableMarket {

  .tableHeader {
    font-size: 16px !important;
    font-family: Gabarito-SemiBold !important;
  }

  .tableCell {
    cursor: default !important;
    padding: 10px !important;
    padding-left: 30px !important;
  }

  .ticker {
    font-family: Gabarito-Bold !important;
  }

#volume,#price{
  @include respond-to('phone') {
  }


  @include respond-to('tablet') {
      display: none;
  }

  @include respond-to('desktop') {


  }

  @include respond-to('large-desktop') {


  }
}


}

//rgb(54, 162, 235); bleu
//rgb(255, 99, 132);