@import '../../index.scss';

.pageStock{
  background-color: $primary-color;
  padding-inline: 4vw;
  padding-block: 4vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 5vh;
  border-radius: 15px;

  .ticker{
    color: #b4b4b4;
  }

  .stockInfos{
    padding-inline: 5%;
  }


  .stockDescription{
    text-align: justify;
  }

}


