@import '../../index.scss';

.tablette {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 5%;
    transform: scaleX(-1);
    margin-bottom: 12vh;

    img {

        @include respond-to('phone') {
            display: none;
        }

        @include respond-to('small-tablet') {
            display: none;
        }

        @include respond-to('tablet') {
            width: 800px;
        }

        @include respond-to('desktop') {
            width: 1000px;

        }

        @include respond-to('large-desktop') {
            width: 1300px;

        }


    }
}




.homePageFooter {
    position: absolute;
    bottom: 0;
    word-wrap: break-word;
    width: 50%;
    margin-left: 1%;

    @include respond-to('phone') {
        width: 90%;
        margin-left: 5%;
        top: 20%;
        text-align: center;
    }

    @include respond-to('small-tablet') {
        width: 90%;
        margin-left: 5%;
        top: 20%;
        text-align: center;
    }

    .slogan {
        font-family: Gabarito-Bold;
        line-height: 0.9;
        margin-bottom: 5%;

        @include respond-to('phone') {
            font-size: 40px;
        }


        @include respond-to('tablet') {
            font-size: 50px;
        }

        @include respond-to('desktop') {

            font-size: 70px;

        }

        @include respond-to('large-desktop') {
            font-size: 105px;

        }


    }

    .phraseAccroche {
        @include respond-to('phone') {
            font-size: 17px;
        }

        @include respond-to('tablet') {
            font-size: 20px;
        }

        @include respond-to('desktop') {
            font-size: 25px;

        }

        @include respond-to('large-desktop') {
            font-size: 35px;
        }

        font-family: Gabarito;
        line-height: 0.9;
        margin-bottom: 3%;
    }
}

.animatedLineCharts {
    @include respond-to('phone') {
        display: none;
    }

    @include respond-to('small-tablet') {
        display: none;
    }

    height: 90vh;
    width: 100vw;
}