@import './index.scss';


.containerPage {
    padding-top: 100px;
    padding-inline: 10vw;
    height: 100%;
}

@media (max-width: 575px) {
    .containerPage{
        padding-inline: 3vw;
    }

}


.paper{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.09);
    border-radius: 30px;
    background:white;
}


h1 {
    font-family: Gabarito-Bold;

    @include respond-to('phone') {
        font-size: 25px;
    }


    @include respond-to('tablet') {
        font-size: 28px;
    }

    @include respond-to('desktop') {

        font-size: 30px;

    }

    @include respond-to('large-desktop') {
        font-size: 33px;

    }
}

