.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.absolute{
  position:absolute;
}
.max-content{
  width: max-content;
}

.flex-column{
  flex-direction: column;
}
.overflow-auto{
  overflow: auto;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: percentage($i / 100);
  }
  .h-#{$i} {
    height: percentage($i / 100);
  }
  .w-r-#{$i} {
    width: #{$i}rem;
  }

  .h-r-#{$i} {
    height: #{$i}rem;
  }
  .m-#{$i}{
    margin: percentage($i / 100);
  }
  .m-r-#{$i}{
    margin: #{$i}rem;
  }
  .p-#{$i}{
    padding: percentage($i / 100);
  }

  .p-r-#{$i}{
    padding: #{$i}rem;
  }

  .mt-r-#{$i} {
    margin-top: #{$i}rem;
  }

  .mr-r-#{$i} {
    margin-right: #{$i}rem;
  }

  .mb-r-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .ml-r-#{$i} {
    margin-left: #{$i}rem;
  }

  .pt-r-#{$i} {
    padding-top: #{$i}rem;
  }

  .pr-r-#{$i} {
    padding-right: #{$i}rem;
  }

  .pb-r-#{$i} {
    padding-bottom: #{$i}rem;
  }

  .pl-r-#{$i} {
    padding-left: #{$i}rem;
  }

  .mt-#{$i} {
    margin-top: percentage($i / 100);
  }

  .mr-#{$i} {
    margin-right: percentage($i / 100);
  }

  .mb-#{$i} {
    margin-bottom: percentage($i / 100);
  }

  .ml-#{$i} {
    margin-left: percentage($i / 100);
  }

  .pt-#{$i} {
    padding-top: percentage($i / 100);
  }

  .pr-#{$i} {
    padding-right: percentage($i / 100);
  }

  .pb-#{$i} {
    padding-bottom: percentage($i / 100);
  }

  .pl-#{$i} {
    padding-left: percentage($i / 100);
  }
}