@import "../../index";

.pageAbout {
  background-color: $primary-color;
  padding-inline: 4vw;
  padding-top: 5vh;
  padding-bottom: 8vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}